body{
    background-image: url("background.jpg");
}

.test_image_and_result{
    background-color: hotpink;
}

#qw{
    margin-bottom: 70px;
}

#er{
    margin-bottom: 70px;
}

#ty{
    margin-bottom: 70px;
}

#ui{
    margin-bottom: 70px;
}